<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focadex</title>
    <link rel="shortcut icon" href="../Renders/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="body">
        <div class="header">
            <div class="upHeader">
                <img src="../Renders/logo 2.svg"
                alt="logo Focadex">
                <ul>
                    <li>
                        <a href="equipe.html" target="_blank" rel="noopener noreferrer">
                            <img src="../Renders/logout.ico" alt="icone de logout">
                        </a>
                        <a href="equipe.html" target="_blank" rel="noopener noreferrer">
                            <img src="../Renders/profile.png" alt="icone de profile">
                        </a>
                    </li>
                </ul>
            </div>
                    <div class="profile">
                        <p>@traineeCJR</p>
                            <img src="../Renders/profilepic.png" alt="imagem de perfil">
                        
                    </div>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="equipe.html" target="_blank" rel="noopener noreferrer">
                        Equipe
                    </a>
                    <a href="index.html">
                        <strong>Pokédex</strong>
                    </a>
                    <a href="equipe.html" target="_blank" rel="noopener noreferrer">
                        Amigos
                    </a>
                    <a href="equipe.html" target="_blank" rel="noopener noreferrer">
                        Histórico
                    </a>
                </li>
            </ul>
        </div>
        <div class="divBusca">
            <input type="text" id="txtBusca" placeholder="Procure um Pokemon"/>
            <img src="../Renders/lupa.png" alt="Buscar"/>
        </div>
        <div class="caixaDeCaixa">
            <a href="tela2.html">
                <div class="caixaPokemon">
                    <img src="../Renders/ditto.svg" class="pokemon"
                    alt="imagem do pokemon ditto">
                    <div class="caixaDireita">
                        <p><strong>#132 Ditto</strong></p>
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                        class="estrela"
                        alt="estrela">
                        <div class="box">
                            <p>Normal</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="tela2.html">
                <div class="caixaPokemon">
                    <img src="../Renders/ditto.svg" class="pokemon"
                    alt="imagem do pokemon ditto">
                    <div class="caixaDireita">
                        <p><strong>#132 Ditto</strong></p>
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                        class="estrela"
                        alt="estrela">
                        <div class="box">
                            <p>Normal</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="equipe.html">

                <div class="caixaPokemon">
                    <img src="../Renders/bulbassauro.svg" class="pokemon"
                    alt="imagem do pokemon bulbassauro">
                    <div class="caixaDireita">
                        <p><strong>#1 Bulbassauro</strong></p>
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                        class="estrela"
                        alt="estrela">
                        <div class="boxGrass">
                            <p>Grass</p>
                        </div>
                        <div class="boxPoison">
                            <p>Poison</p>
                        </div>    
                    </div>
                </div>
            </a>
            </div>
        </div>
        <div class="caixaDeCaixa2">
            <a href="tela2.html">

                <div class="caixaPokemon">
                    <img src="../Renders/ditto.svg" class="pokemon"
                    alt="imagem do pokemon ditto">
                    <div class="caixaDireita">
                        <p><strong>#132 Ditto</strong></p>
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                        alt="estrela"
                        class="estrela">
                        <div class="box">
                            <p>Normal</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="tela2.html">

                <div class="caixaPokemon">
                    <img src="../Renders/ditto.svg" class="pokemon"
                    alt="imagem do pokemon ditto">
                    <div class="caixaDireita">
                        <p><strong>#132 Ditto</strong></p>
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                        class="estrela"
                        alt="estrela">
                        <div class="box">
                            <p>Normal</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="equipe.html">

                <div class="caixaPokemon">
                    <img src="../Renders/bulbassauro.svg" class="pokemon"
                    alt="imagem do pokemon bulbassauro">
                    <div class="caixaDireita">
                        <p><strong>#1 Bulbassauro</strong></p>
                        <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                        class="estrela"
                        alt="estrela">
                        <div class="boxGrass">
                            <p>Grass</p>
                        </div>
                        <div class="boxPoison">
                            <p>Poison</p>
                        </div>    
                    </div>
                </div>
            </a>
        </div>
        <div class="niveis4">
            <ul>
                <li><div class="botãoVermelho"><p>1</p></div></li>
                <li><div class="botãoVermelho"><p>2</p></div></li>
                <li><strong>...</strong></li>
                <li><div class="botãoVermelho"><p>9</p></div></li>
            </ul>
        </div>
    </div>
</body>
</html>