<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focadex</title>
    <link rel="shortcut icon" href="../Renders/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <img src="../Renders/logo 2.svg"
        alt="logo Focadex">
        <div class="logout">
            <img src="../Renders/logout.ico" alt="icone de logout">
        </div>
        <div class="profile">
            <img src="../Renders/profile.png" alt="icone de profile">
        </div>
        <p>@traineeCJR</p>
        <div class="profilePic">
            <img src="../Renders/profilepic.png" alt="imagem de perfil">
        </div>
    </div>

</body>
</html>