body{
    background-color: #ffffff;
}
.header{
    position: absolute;
    width: 1920px;
    height: 262px;
    background: #D11C1C;
}
.header img{
    position: absolute;
    width: 198px;
    height: 58px;
    left: 50px;
}