<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focadex</title>
    <link rel="shortcut icon" href="../Renders/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="body">
        <div class="header">
            <div class="upHeader">
                <img src="../Renders/logo 2.svg"
                alt="logo Focadex">
                <ul>
                    <li>
                        <a href="equipe.html" target="_blank" rel="noopener noreferrer">
                            <img src="../Renders/logout.ico" alt="icone de logout">
                        </a>
                        <a href="equipe.html" target="_blank" rel="noopener noreferrer">
                            <img src="../Renders/profile.png" alt="icone de profile">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="back">
            <a href="index.html">
                <img src="https://cdn.icon-icons.com/icons2/934/PNG/512/double-left-arrows-symbol_icon-icons.com_73049.png" 
                class="seta"
                alt="">
                <p><strong>Voltar</strong></p>
            </a>
        </div>
        <div class="caixaDoPokemon">
            <div class="caixaPokemon">
                <img src="../Renders/ditto.svg" class="pokemon"
                alt="imagem do pokemon ditto">
                <div class="caixaDireita">
                    <p>#132 Ditto</p>
                    <img src="https://icons-for-free.com/iconfiles/png/512/favorite+favourite+premium+rate+rating+star+icon-1320166547676710135.png"
                    class="estrela"
                    alt="estrela">
                    <div class="box">
                        <p>Normal</p>
                    </div>
                </div>
            </div>
            <div class="atributos">

            </div>
</body>
</html>